<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>HelpDesk</mat-card-title>
      <mat-card-subtitle>Seu Sistema de Chamados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Imagem home-helpdesk">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo a plataforma HelpDesk - Seu Sistema de Chamados.<br />
        Essa é uma plataforma para gerenciamento de chamados, simulando um simples ambiente HelpDesk.<br />
        O sistema está rodando na nuvem sendo o front na Vercel e o back na Railway.<br />
        O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
        Tokens JWT e muito mais.<br /><br />
        Ficou interessado em saber mais? Acesse o Menu de Navegação e clique em "GitHub".<br />
        Você será redirecionado para o código-fonte do projeto!
      </p>
      <p class="rodape">Desenvolvido por Gabriel Turatti</p>
    </mat-card-content>
  </mat-card>